<!-- Canvas Element for p5-->
<div class="toolbar">
    <div class="btn toolbar-btn">
        <i class="icon fa-solid fa-plus fa-2xl"></i>
    </div>
    <div class="btn toolbar-btn">
        <i class="fa-solid fa-rotate-left fa-xl"></i>
    </div>
    <div class="btn toolbar-btn">
        <i class="fa-solid fa-rotate-right fa-xl"></i>
    </div>
    <div class="btn toolbar-btn">
        
    </div>
    <div class="btn toolbar-btn">
        
    </div>
    <div class="btn toolbar-btn">
        
    </div>
    <div class="btn toolbar-btn">
        
    </div>
    <div class="btn toolbar-btn">
        
    </div>
</div>
<div class="" id="canvas-container">
</div>













<!-- p5.js and sketch file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script type="module" src="/js/sketch.js"></script>