:root {
    /* Light Theme Colors */
    --primary-color: #a9d3ff; /* Background color for primary elements */
    --secondary-color: #7fb3e6; /* Slightly darker background color for buttons */
    --background-color: #f2f4ff; /* General background color */
    --hover-color: #5f9ac6; /* Darker hover state color */
    --text-color: #424b54; /* Text color */
    --dropdown-hover-color: #f8f9fa; /* Dropdown hover background color */
    --dropdown-border-color: #ccc; /* Dropdown border color */
    --dropdown-text-color: #333; /* Dropdown text color */

    /* Additional Colors */
    --charcoal: #424b54;
    --cadet-gray: #93acb5;
    --jordy-blue: #96c5f7;
    --uranian-blue: #a9d3ff;
    --ghost-white: #f2f4ff;
}

:root.dark-theme {
    /* Dark Theme Colors */
    --primary-color: #495057; /* Background color for primary elements */
    --secondary-color: #3a3f44; /* Slightly lighter background color for buttons */
    --background-color: #212529; /* General background color */
    --hover-color: #2a2e33; /* Lighter hover state color */
    --text-color: #ffffff; /* Text color */
    --dropdown-hover-color: #2f4f4f; /* Dropdown hover background color */
    --dropdown-border-color: #444; /* Dropdown border color */
    --dropdown-text-color: #f0f0f0; /* Dropdown text color */

    /* Additional Colors */
    --onyx: #474448;
    --raisin-black: #2d232e;
    --wenge: #534b52;
    --air-superiority-blue: #7a93ac;
    --jordy-blue: #96c5f7;
}

/* Applying the Colors */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar, .sidebar {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link,
.sidebar .btn {
    color: var(--text-color) !important;
}

.navbar .btn, .sidebar .btn {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.navbar .btn:hover, .sidebar .btn:hover {
    background-color: var(--hover-color) !important;
}

.dropdown-menu {
    background-color: var(--dropdown-hover-color);
    border-color: var(--dropdown-border-color);
    color: var(--dropdown-text-color);
}
