<!-- Canvas Element for p5-->
<div class="toolbar" id="toolbar">
    <div class="btn toolbar-btn" id="create-shape-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Create Shape">
        <i class="fa-solid fa-plus fa-2xl" id="create-shape-icon"></i>
    </div>
    <div class="btn toolbar-btn" id="select-shape-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Select Shape">
        <i class="fa-solid fa-hand-pointer fa-xl" id="select-shape-icon"></i>
    </div>
    <div class="btn toolbar-btn disabled" id="edit-shape-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Edit Shape">
        <i class="fa-solid fa-gear fa-xl disabled"
           id="edit-shape-icon"
           data-bs-toggle="offcanvas"
           data-bs-placement="right"
           data-bs-title="Edit Shape"
           data-bs-target="#offcanvasEdit"
           aria-controls="offCanvasRight"></i>
    </div>
    <div class="btn toolbar-btn" id="load-shape-btn"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-title="Load Shapes">
        <i class="fa-solid fa-list fa-xl"
           id="load-icon"
           data-bs-toggle="offcanvas"
           data-bs-placement="right"
           data-bs-title="Load Shapes"
           data-bs-target="#offcanvasLoad"
           aria-controls="offCanvasRight"></i>
    </div>
    <div class="btn toolbar-btn disabled" id="save-shape-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Save Shape">
        <i class="fa-solid fa-floppy-disk fa-xl disabled"
           id="save-icon"
           data-bs-toggle="offcanvas"
           data-bs-placement="right"
           data-bs-title="Save Shape"
           data-bs-target="#offcanvasSave"
           aria-controls="offcanvasRight"></i>
    </div>
    <div class="btn toolbar-btn disabled" id="intersection-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Intersection">
        <i class="fa-solid fa-object-group fa-xl" id="intersection-icon"></i>
    </div>
    <div class="btn toolbar-btn" id="monte-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Monte Carlo">
        <i class="fa-solid fa-braille fa-lg" id="monte-icon"></i>
    </div>
    <div class="btn toolbar-btn" id="undo-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Undo">
        <i class="fa-solid fa-rotate-left fa-xl" id="undo-icon"></i>
    </div>
    <div class="btn toolbar-btn" id="redo-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Redo">
        <i class="fa-solid fa-rotate-right fa-xl" id="redo-icon"></i>
    </div>
    <div class="btn toolbar-btn" id="clear-btn"
         data-bs-toggle="tooltip"
         data-bs-placement="right"
         data-bs-title="Clear Canvas">
        <i class="fa-solid fa-trash fa-lg" id="clear-icon"></i>
    </div>
</div>

<!-- 2D Canvas -->
<div id="canvas-container">
</div>

<!-- Offcanvas for saving shapes -->
<div class="offcanvas offcanvas-end save-shape" data-bs-backdrop="false" tabindex="-1" id="offcanvasSave" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4>Save Shape</h4>
        <button type="button" class="btn" id="close-btn" data-bs-dismiss="offcanvas">
            <i class="fa-solid fa-xmark fa-xl" style="color: lightcoral"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <form id="saveShapeForm">
            <div class="mb-3">
                <label for="shape-name" class="col-form-label"><h5>Shape Name:</h5></label>
                <input type="text" class="form-control" id="shape-name" required>
            </div>
            <button id="save-shape" type="submit" class="btn" data-bs-dismiss="offcanvas" disabled>
                Save Shape
            </button>
        </form>
    </div>
</div>

<!-- Offcanvas for Loading shapes -->
<div class="offcanvas offcanvas-end load-shapes" data-bs-backdrop="false" tabindex="-1" id="offcanvasLoad" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4>Load Shapes</h4>
        <button type="button" class="btn" id="close-btn" data-bs-dismiss="offcanvas">
            <i class="fa-solid fa-xmark fa-xl" style="color: lightcoral"></i>
        </button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div class="oc-body custom-shapes pb-5">
            <h4>Custom</h4>
            <div class="shapes-list" style="max-height: 100%;">
            </div>
        </div>
        <div class="oc-body default-shapes pb-5 mt-2">
            <h4>Default</h4>
            <div class="default-shapes-list" style="max-height: 100%;">
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas for editing shapes -->
<div class="offcanvas offcanvas-end edit-shape" data-bs-backdrop="false" tabindex="-1" id="offcanvasEdit" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4>Edit Shape</h4>
        <button type="button" class="btn" id="close-btn" data-bs-dismiss="offcanvas">
            <i class="fa-solid fa-xmark fa-xl" style="color: lightcoral"></i>
        </button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div class="oc-body edit-shape-name">
            <h5>Shape Name</h5>
            <input type="text" id="shape-name-input" class="form-control" placeholder="Enter shape name">
        </div>
        <div class="oc-body edit-shape-colour mt-2">
            <h5>Shape Colour</h5>
            <input type="color" id="shape-colour-input" class="form-control-color">
        </div>
        <div class="oc-body shape-data mt-2 mb-2">
            <h5>Info</h5>
            <p id="shape-points">Points: </p>
            <p id="shape-vertices">Vertices: </p>
            <p id="shape-area">Area: </p>
        </div>
        <button id="update-shape" type="submit" class="btn" data-bs-dismiss="offcanvas">
            Update Shape
        </button>
    </div>
</div>

<!-- p5.js and sketch file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script type="module" src="dist/sketch.js"></script>
<!-- <script type="module" src="dist/displaysketch.js"></script> -->
