<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Including Bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/c3fe118872.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/dist/lib/context-menu/contextmenu.css">
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar from Bootstrap -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand" href="/">
          <img src="images/polystar.png" alt="Polyfusion Logo" width="64" height="64">
          Polyfusion
      </a>
      <div style="justify-content: space-between">
        <!--! Change all of this to a neater toolbar -->
      <button id="select-shape-btn" type="button" class="btn btn-primary">Select Shape</button>
      <!-- <button id="create-shape-btn" type="button" class="btn btn-primary">Create Shape</button> -->
      <button id="save-shape-btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#saveModal">Save Shape</button>
      <button id="monte-carlo-btn" type="button" class="btn btn-dark">Monte Carlo</button>
      <button id="clear-btn" type="button" class="btn btn-dark">Clear Canvas</button>
      <button id="undo-btn" type="button" class="btn"><img src="images/undo.png" width="25"></button>
      <button id="redo-btn" type="button" class="btn"><img src="images/redo.png" width="25"></button>

      <!-- Load shapes dropdown -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Load Shapes
        </button>
        <ul id="shapesDropdown" class="dropdown-menu">
          <% for( let i = 0; i < savedShapes.length; i++ ) { %>
            <li><a class="dropdown-item"><%= savedShapes[i].name %></a></li>
          <% } %>
        </ul>
      </div>

      <!-- Adding a pause button for now -->
      <button id="pause-monte-btn" type="button" class="btn btn-info">Pause</button>
      <!-- Sutherland-Hodgman Button -->
      <button id="sutherland-btn" type="button" class="btn btn-dark">Intersection</button>
      </div>
    </nav>

    <!-- Adding a modal for saving the shapes -->
    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form id="saveShapeForm">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="saveModalLabel">Save Shape</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="shape-name" class="col-form-label">Shape Name:</label>
                  <input autofocus type="text" class="form-control" id="shape-name">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="save-shape" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Shape</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container-fluid g-0 h-100">
      <div class="row g-0 h-100">
        <div class="foobar col-2">
          <h1>Sidebar goes here</h1>
          <h2>Blah Blah Blah</h2>
        </div>
        <div class="content col-10">
          <%- body %>
        </div>
      </div>
    </div>
  </body>
</html>
