<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Including Bootstrap -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/c3fe118872.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/dist/lib/context-menu/contextmenu.css">
    <title><%= title %></title>
  </head>
  <body>
    <!-- Navbar from Bootstrap -->
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <div class="card title-card">
            <h2>polyfusion</h2>
        </div>
      </a>
      <button id="user-btn" type="button" class="btn">
        <i class="fa-solid fa-circle-user fa-3x" id="user-icon"></i>
      </button>
    </nav>

    <!-- Adding a modal for saving the shapes -->
    <div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form id="saveShapeForm">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="saveModalLabel">Save Shape</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                  <label for="shape-name" class="col-form-label">Shape Name:</label>
                  <input autofocus type="text" class="form-control" id="shape-name">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="save-shape" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save Shape</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container-fluid g-0 h-100">
      <div class="row g-0 h-100">
        <div class="content col-12">
          <%- body %>
        </div>
      </div>
    </div>
  </body>
</html>
