body, html {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  width: 100%;
  height: 100%;
}

i {
  color: rgb(191, 190, 190);
}

.content {
  position: relative;
}

.toolbar {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 80px;
  padding: 1rem;
  width: 60px;
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: rgb(33, 33, 33);
  align-items: center;
  justify-content: space-around;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.toolbar-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(87, 87, 87);
}

#canvas-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}


.sidebar {
  width: 5rem;
  height: 100vh;
  position: absolute;
  background-color: lightslategrey;
  transition: width 200ms ease;
}

.sidebar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.sidebar-item {
  width: 100%;
  display: flex;
  align-items: center;
  height: 5rem;
}

.sidebar-item img {
  min-width: 2.5rem;
  margin: 0 1rem;
  color: aliceblue;
}


.sidebar-item:last-child {
  margin-top: auto;
}




